{% extends 'base.html.twig' %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="text-success lead text-center">
	    	{{ flashMessage|raw }}
	    </div>
	{% endfor %}
{% endblock %}